.profile-preview-header {
    display: flex; 
    gap: 20px;
    padding-bottom: 20px;
    
    h4{
        padding-bottom: 5px;
    }
}

hr{
    width: 90%;
    margin-left: 10px;
    margin-bottom: 50px;
    //pad: 20px;
}
.missing-label {
    padding: 10px;
    font-size: 15px;
    color: rgb(127, 117, 117);
}