<div>
    @if (profile != null && profile.firstName)
    {
        <div class="profile-edit-page">
            <div class="profile-preview">
                <app-profile-preview [profile]="profile"></app-profile-preview>
            </div>
            <div class="profile-edit">
                <app-profile-edit 
                    [profile]="profile"
                    (updateProfileEvent)="updateProfile($event)"
                
                >

                </app-profile-edit>
            </div>           
        </div>
    }
    @else
    {
        <div>Loading</div>
    }

</div>