@if (profile)
{
<div class="profile-card">
    <div class="avatar-name">
        <img [src]="profile.avatarUrl | avatarFullUrl" [alt]="profile.username" class="profile-card-avatar">
        <div class="profile-card-name">
            <strong>{{profile.firstName}} {{profile.lastName}}</strong>
            <span class="subtitle">{{profile.username}}</span>
        </div>

    </div>
    <div class="profile-description">
        {{ profile.description}}
    </div>
    <div class="profile-card-tags">
        @for (item of profile.stack; track item) {
            <div [ngClass]="{
                'skill-tag': true,
                'search-stack-item': isSearchStackItem(item)
            }">
                {{item}}
            </div>
        }
    </div>
    <div class="profile-action-buttons">
        @if (!alreadySubscribed())
        {

            <button class="btn btn-shadow" (click)="subscribe()">Subscribe</button>
        }
        @else
        {
            <button>View profile</button>
            <button class="btn btn-shadow" (click)="unsubscribe()">
                Unsubscribe
            </button>
            <button class="btn btn-shadow">Send message</button>
        }
        
    </div>
</div>
}
@else {
<div> Unreachable code in the template</div>
}