@if (profile)
{
<div class="profile-card">
    <div class="avatar-name">
        <img [src]="profile.avatarUrl | avatarFullUrl" [alt]="profile.username" class="profile-card-avatar">
        <div class="profile-card-name">
            <strong>{{profile.firstName}} {{profile.lastName}}</strong>
            <span class="subtitle">{{profile.username}}</span>
        </div>
        
    </div>  
    <div class="profile-description">
        {{ profile.description}}
    </div>
    <div class="profile-card-tags">
        @for (item of profile.stack; track $index) {
            <div class="skill-tag">{{item}}</div>
        }
    </div>
    <div class="profile-action-buttons">
        <button class="btn">Subscribe</button>

    </div>
</div>
}
@else {
    <div> Unreachable code in the template</div>
}