.profile-card {
    border: 1px solid var(--light-color);
    border-radius: 5px;
    padding: 32px 24px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 200px 1fr;
    grid-gap: 32px;
    background-color: black;
}   

.avatar-name {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-gap: 20px;
}

.profile-card-avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-card-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-card-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    justify-content: flex-start;
}

.skill-tag{
    border: 1px solid var(--light-color);
    border-radius: 2px;
    padding: 4px 8px 4px 8px;
    margin: 0px 8px 4px 0px;
    display: inline;
    font-size: 12px;
    font-weight: 700;
}


.btn{
    border: none;       
    border-radius: 2px;    
    background-color: var(--primary-color);
    color: var(--dark-color);
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 10px 20px;
    
}