.profile-card-wrapper{
    display: grid;
    gap: 20px;
}
.search-bar-container
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 30px;    
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    background-color: black;
}

.search-input {
    min-height: 100px;
}

.small-input {    
    width: 200px;
    align-self: flex-start;    
}

.search-input.profile-stack {    
    min-width: 250px;    
    align-self: stretch;
    flex-grow: 1;
}
//   margin: 4px;

:host ::ng-deep .search-input {
    .mat-mdc-text-field-wrapper {
        background-color: black;
    }

    // Optional: If you want to style the focused state differently
    .mat-mdc-form-field.mat-focused .mat-mdc-text-field-wrapper {
        background-color: black;
    }
}

.profile-stack {
    //width: 100%;
    
    ::ng-deep .mat-mdc-form-field-infix {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      align-items: center;
    }
    
    ::ng-deep .mdc-evolution-chip-set {
      display: inline-flex;
      flepadding: 4px;x-wrap: wrap;
      gap: 8px;
    }
    
    .chip-input {
      border: none;
      background: none;
      padding: 4px;
      margin: 4px;
      flex: 1;
      min-width: 150px;padding: 4px;
      outline: none;
    }
  }