<form      
    class="login-form" 
    [formGroup]="form"
    (ngSubmit)="onSubmit()"

>
    <h1>Login</h1>
    <label class="tt-control-lable">        
        @if(form.get('username')?.invalid){
            <span class="error">Telegram username*</span>
        }
        @else {
            <span>Telegram username*</span>
        }        
        <input
            formControlName="username"
            id="username"
            class="tt-control-input"
            type="text" 
            placeholder="telegram usernamne"  />

    </label>
    <label class="tt-control-lable">        
        @if(form.get('password')?.invalid){
            <span class="error">Password*</span>
        }
        @else {
            <span>Password*</span>
        }
        <input 
            formControlName="password"            
            id="password"        
            class="tt-control-input"
            type="password"
            placeholder="password"  />

    </label>   

    <button class="btn btn-shadow" type="submit">Sign in</button>
</form>

<img src="/assets/images/logo.svg" alt="logo" />